
<header>
	<%= render 'layouts/navigation' %>
</header>
<script>
  $(document).ready(function() {
  })
</script>
<h1>Orders for <%= current_user.fname %>, <%=current_user.lname %></h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Meal</th>
      <th>Child</th>
      <th>School</th>
    </tr>
  </thead>

  <tbody>
    <% PurchaseMeal.where(:paid => true, :franchise_id => current_user.id).each do |purchase_meal| %>
      <tr>
        <td><%= purchase_meal.date_for_meal %></td>
        <td><%= Meal.find_by_id(purchase_meal.meal_id).name %></td>
        <td><%= Child.find_by_id(purchase_meal.child_id).name %></td>
        <td><%= School.find_by_id(purchase_meal.school_id).name %></td>
      </tr>
    <% end %>
  </tbody>
</table>