<header>
	<%= render 'layouts/navigation' %>
</header>

<%= form_tag(process_feedback_path) do%>
<h1 class="text-center">Give us your Feedback:</h1>
<br/>
<br/>
<div class="field">
	<%= label_tag "Dissatisfied with your meal? Or just loved our service? Either way, please leave us a note and our Chefs and Owners will read " %>
	<br>
	<%= text_area_tag :feedback %>
	<%= hidden_field_tag :order_id, params[:id]  %>

</div>
<%= submit_tag 'Submit' %>

<%end%>
