

<header>
	<%= render 'layouts/navigation' %>
</header>
<%= form_tag(process_payment_path) do%>
<h1>Payment</h1>
<div class="field">
	<%= label_tag "Name" %>
	<br>
	<%= text_field_tag "name", size: 40 %>
</div>
<div class="field">
	<%= label_tag "Name" %>
	<br>
	<%= text_area_tag "address", rows: 3, cols: 40 %>
</div>
<div class="field">
	<%= label_tag "Name" %>
	<br>
	<%= f.email_field_tag :email, size: 40 %>
</div>
<div class="field">
	<%= label_tag "Name" %>
	<br>
	<%= f.select :pay_type, Order::PAYMENT_TYPES,
	prompt: 'Select a payment method' %>
</div>


<%= submit_tag 'Submit' %>

<%end%>
