<p id="notice"><%= notice %></p>

<header>
	<%= render 'layouts/navigation' %>
</header>

<h1>Order Number <%= @order.id %> for <%= current_user.fname%> <%= current_user.lname %></h1>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.parent_id %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

<%if current_user.user_type == 4 %>
<%= link_to 'Edit', edit_order_path(@order) %> |
<% end %>
<%= link_to 'Back', authenticated_root_path %>
