<%= form_for(@meal_list) do |f| %>
<header>
  <%= render 'layouts/navigation' %>
</header>
<h1>Make meal selections for <%=Franchise.find_by_id(params[:id]).id%></h1>
<table class="table table-striped table-bordered">
  <%=hidden_field_tag 'meal_list', Meal_List.find_by_id(params[:id]).id%>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Calories</th>
      <th>Select</th>
    </tr>
  </thead>
  <tbody>
    <% @meals.each do |meal| %>

    <tr>
      <td><%= meal.name %></td>
      <td><%= meal.description%></td>
      <td><%= meal.price %></td>
      <td><%= meal.calories %></td>
      <td><%= check_box_tag 'meals[meal_id][]', meal.id, false, :class => "hue" %></td>

    </tr>
    <% end %>
  </tbody>
</table>


<%= submit_tag 'Submit' %>

<%end%>
<!-- 
<%= form_for(@meal_list) do |f| %>
  <% if @meal_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal_list.errors.count, "error") %> prohibited this meal_list from being saved:</h2>

      <ul>
      <% @meal_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meal_id %><br>
    <%= f.number_field :meal_id %>
  </div>
  <div class="field">
    <%= f.label :franchise_id %><br>
    <%= f.number_field :franchise_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 -->