<script>
  $(document).ready(function() {
    $('.table').DataTable({});
  })
</script>
<h1>Listing meal_lists</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Meal Name</th>
      <th>Meal Price</th>
      <th>Meal Description</th>
      <th>Calories</th>
    </tr>
  </thead>

  <tbody>
    <% @meal_lists.each do |meal_list| %>
      <tr>
        <td><%= Meal.find_by_id(meal_list.meal_id).name %></td>
        <td><%= Meal.find_by_id(meal_list.meal_id).price %></td>
        <td><%= Meal.find_by_id(meal_list.meal_id).description %></td>
        <td><%= Meal.find_by_id(meal_list.meal_id).calories %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meal list', new_meal_list_path %>
