<h1>Listing meal_lists</h1>

<table>
  <thead>
    <tr>
      <th>Meal</th>
      <th>Franchise</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @meal_lists.each do |meal_list| %>
      <tr>
        <td><%= meal_list.meal_id %></td>
        <td><%= meal_list.franchise_id %></td>
        <td><%= link_to 'Show', meal_list %></td>
        <td><%= link_to 'Edit', edit_meal_list_path(meal_list) %></td>
        <td><%= link_to 'Destroy', meal_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meal list', new_meal_list_path %>
