<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @feedback.title %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @feedback.descr %>
</p>

<p>
  <strong>Date submitted:</strong>
  <%= @feedback.date_submitted %>
</p>

<%= link_to 'Back', authenticated_root_path %>
