<h1>Listing schools</h1>

<table>
  <thead>
    <tr>
      <th> name</th>
      <th>Address</th>
      <th>School</th>
      <th>User</th>
      <th>Int[]</th>
      <th>Meal</th>
      <th>Int[]</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school. name %></td>
        <td><%= school.address %></td>
        <td><%= school.school_id %></td>
        <td><%= school.user_id %></td>
        <td><%= school.int[] %></td>
        <td><%= school.meal_id %></td>
        <td><%= school.int[] %></td>
        <td><%= link_to 'Show', school %></td>
        <td><%= link_to 'Edit', edit_school_path(school) %></td>
        <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School', new_school_path %>
