<p id="notice"><%= notice %></p>

<p>
  <strong> name:</strong>
  <%= @school. name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>School:</strong>
  <%= @school.school_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @school.user_id %>
</p>

<p>
  <strong>Int[]:</strong>
  <%= @school.int[] %>
</p>

<p>
  <strong>Meal:</strong>
  <%= @school.meal_id %>
</p>

<p>
  <strong>Int[]:</strong>
  <%= @school.int[] %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
