<% if current_user.user_type == 2 %>
<header>
	<%= render 'layouts/navigation' %>
</header>
<h2>Children who attend <%= @school.name%> School:</h2>

<%= form_tag(add_children_path) do %>
<br/>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Child Name</th>
			<th>Select Child</th>
		</tr>
	</thead>
	<tbody>
		<% Child.where(:school_id => @school.id).each do |children| %>
		<tr>
			<td><%= children.name%></td>
			<td><%= check_box_tag 'school[student_id][]', children.id, false %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= submit_tag 'Submit'%>
<% end %>
<% end %>
